<h1>showing selected article</h1>
<p>Tittle: <%= @article.tittle %>
</p>
<p>description:<%= @article.description %>

</p>
<%= link_to "Edit to article", edit_article_path(@article) %>|
<%= link_to "Back to article", articles_path %>
